<!DOCTYPE html>
<html lang="sr" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8">
	<title>Dodavanje klasa2</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container"> 
			<form th:action="@{/klasa2/addKlasa2}"
			th:object="${klasa2Dto}"
			method="post">
			<div class="form-group">
				<label>Naziv</label>
				<input type="text" name="naziv" id="naziv" 
				class="form-control"
				th:field="*{naziv}">
			</div>
				<button type="submit" class="btn btn-primary" name="submit">Upisi</button>
				<a class="btn btn-primary" name="nazad" th:href="@{/klasa2}">Nazad</a>
			</form>
		</div>
		
	</body>
</html>